createdAt: "2019-02-08T02:57:56.356Z"
updatedAt: "2019-02-08T02:58:01.003Z"
type: "MARKDOWN_NOTE"
folder: "227ba47f55350a74b9fd"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
